<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Vocabulary test.</title>
</head>

<body>
    <h1>Test yourself</h1>
    <table>
        <form action="/saveAnswer" method="POST">
            <p>
                <%=Msg%>
            </p>
            <p>How do you say <%=randomVoc%> ?</p>
            Your answer :
            <input type="text" name="answer" value="" /><br />
            <input type="submit" name="Save_answer" value="Save" /><br />
        </form>
    </table>


    <p>
        <% for (const voc of vocaList) { %>
            <tr>
                <td>
                    <%= voc.mot %>
                </td>
                <td>
                    <%= voc.traduction %>
                </td>
            </tr>
            <% } %>
    </p>




    <h3>Add Voca</h3>
    <form action="/add" method="POST">
        <!-- Id : 
    <input type="text" name="Id" value="" /><br /> -->
        Word :
        <input type="text" name="Word" value="" /><br />
        Translation :
        <input type="text" name="Translation" value="" /><br />
        <input type="submit" name="Save" value="Save" /><br />
    </form>











</body>

</html>