<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Vocabulary test.</title>
</head>

<body>
    <h1>Test yourself</h1>
    <table>
        <tbody>
            <p>How do you say <%=randomVoc%> ?</p>
            Your answer :
            <input type="text" name="answer" value="" /><br />
        </tbody>
        <tbody>
            
    </table>

    <h3>Add Voca</h3>
<form action="/add" method="POST">
    <!-- Id : 
    <input type="text" name="Id" value="" /><br /> -->
    Word :
    <input type="text" name="Word" value="" /><br />
    Translation :
    <input type="text" name="Translation" value="" /><br />
    <input type="submit" name="Save" value="Save"/><br />
</form>




<!-- 
<h3>Update TV</h3>
<form action="/update" method="POST">
    Id : 
    <input type="text" name="Id" value="" /><br />
    Brand :
    <input type="text" name="Brand" value="" /><br />
    Dimensions :
    <input type="text" name="Dimensions" value="" /><br />
    Price :
    <input type="text" name="Price" value="" /><br />
    Bought ?
    <input type="text" name="Bought" value="" /><br />
    Broken ?
    <input type="text" name="Broken" value="" /><br />
    Broken cause : 
    <input type="text" name="Broken cause" value="" /><br />
    <input type="submit" name="Save" value="Save"/><br />
</form> -->












</body>

</html>

